.top-nav {
  @include span-columns(12);
  top: 0;
  left: 0;
  position: absolute;
  height: 40px;
  border-bottom: $base-border;
  font-size: .9em;
  text-align: right;
  background-color: #fff;
  z-index: 2;

  ul {
    padding: 0;
    margin-right: 10px;
  }

  li {
    display: inline-block;
    padding: 0 10px;
    line-height: 40px;

    a {
      color: $medium-gray;

      &:hover {
        color: darken($medium-gray, 20%);
      }
    }
  }
}

.side-nav {
  @include span-columns(2);
  position: fixed;
  top: 0;
  padding: 60px 20px 20px;
  right: 0;
  height: 100vh;
  border-left: $base-border;
  font-size: 1.3em;
  font-weight: 200;
}

